Repository CSG-Development/immich-app-immich, pull requests merged in 2025-09, with the labels that each got.

#140 [HCNOVEO-403] New photos in backup folder are not uploaded automatically when the auto backup option is on
  mobile/ios/Runner/AppDelegate.swift
  mobile/lib/domain/models/secure_store.model.dart
  mobile/lib/domain/models/store.model.dart
  mobile/lib/main.dart
  mobile/lib/pages/common/splash_screen.page.dart
  mobile/lib/providers/auth.provider.dart
  mobile/lib/providers/backup/backup.provider.dart
  mobile/lib/repositories/auth.repository.dart
  mobile/lib/routing/auth_guard.dart
  mobile/lib/routing/performance_route_observer.dart
  mobile/lib/services/api.service.dart
  mobile/lib/services/auth.service.dart
  mobile/lib/services/background.service.dart
  mobile/lib/services/backup_verification.service.dart
  mobile/lib/services/firebase_performance_wrapper.dart
  mobile/test/domain/services/secure_store_service_test.dart
  mobile/test/domain/services/store_service_test.dart
  mobile/test/infrastructure/repositories/store_repository_test.dart
  mobile/test/modules/activity/activities_page_test.dart
  mobile/test/modules/activity/activity_tile_test.dart
Labels: 📱mobile

#142 [HCNOVEO-562] Pin code error text
  web/package-lock.json
  web/src/lib/utils/handle-error.ts
Labels: 🖥️web

#146 [HCNOVEO-562] Icons remain crossed out after initial backup
  mobile/lib/services/backup.service.dart
Labels: 📱mobile

#148 [HCNOVEO-635] Photos deleted from the cloud are missing in album view
  mobile/lib/models/asset_selection_state.dart
  mobile/lib/pages/album/album_viewer.dart
  mobile/lib/pages/backup/backup_controller.page.dart
  mobile/lib/providers/album/album.provider.dart
  mobile/lib/repositories/timeline.repository.dart
  mobile/lib/services/album.service.dart
  mobile/lib/services/sync.service.dart
  mobile/lib/utils/storage_indicator.dart
  mobile/lib/widgets/asset_grid/control_bottom_app_bar.dart
  mobile/lib/widgets/asset_grid/multiselect_grid.dart
Labels: 📱mobile

#155 [HCNOVEO-269] AirPlay for video
  mobile/android/app/build.gradle
  mobile/android/app/proguard-rules.pro
  mobile/assets/loading_circle_dots.mp4
  mobile/ios/Podfile.lock
  mobile/ios/Runner.xcodeproj/project.pbxproj
  mobile/ios/Runner/AirPlayManager.swift
  mobile/ios/Runner/AppDelegate.swift
  mobile/lib/pages/common/gallery_viewer.page.dart
  mobile/lib/pages/common/native_video_viewer.page.dart
  mobile/lib/providers/airplay.provider.dart
  mobile/lib/providers/app_life_cycle.provider.dart
  mobile/lib/services/airplay.service.dart
  mobile/lib/widgets/asset_viewer/airplay_loader.dart
  mobile/lib/widgets/asset_viewer/top_control_app_bar.dart
  mobile/pubspec.lock
  mobile/pubspec.yaml
Labels: 📱mobile

#173 [HCNOVEO-757] Empty placeholder height fix
  web/src/lib/components/shared-components/empty-placeholder.svelte
Labels: 🖥️web

#184 [HCNOVEO-770] Notification after saving photo edits appears at the top instead of bottom
  mobile/lib/pages/editing/edit.page.dart
  mobile/lib/presentation/pages/editing/drift_edit.page.dart
Labels: 📱mobile

#186 feature/redirect-maps-request-to-own-server .
  server/src/config.ts
Labels: 🗄️server

#188 [HCNOVEO-574] Slideshow fixes
  web/src/lib/components/asset-viewer/asset-viewer-nav-bar.svelte
  web/src/lib/components/asset-viewer/asset-viewer.svelte
  web/src/lib/components/asset-viewer/slideshow-bar.svelte
  web/src/lib/components/asset-viewer/video-native-viewer.svelte
  web/src/lib/components/photos-page/asset-grid.svelte
  web/src/lib/components/shared-components/settings/setting-input-field.svelte
  web/src/lib/constants.ts
  web/src/lib/managers/timeline-manager/timeline-manager.svelte.ts
  web/src/lib/utils.ts
  web/src/routes/(user)/albums/[albumId=id]/[[photos=photos]]/[[assetId=id]]/+page.svelte
  web/src/routes/(user)/photos/[[assetId=id]]/+page.svelte
Labels: 🖥️web
